/* Write your CSS code here. */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #ffeeee, #ffc0bb);
  height: 100vh;
}

.feedback-card {
  background-color: #fff;
  width: 80%;
  border-radius: 12px;
  max-width: 606px;
  padding: 24px;
}
.feedback-question-container {
  display: flex;
  flex-direction: column;
}
.feedback-question {
  text-align: center;
  color: #0f172a;
  font-family: roboto;
  font-size: 18px;
  font-weight: 500;
}
.emojis-list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin-top: 32px;
  padding: 0px;
}
.emoji-btn {
  border: none;
  background-color: #fff;
  cursor: pointer;
  outline: none;
}
.emoji {
  width: 45px;
  height: 45px;
  margin-bottom: 16px;
}
.emoji-name {
  color: #1e293b;
  font-family: roboto;
  font-size: 16px;
}
.thankyou-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.love-emoji {
  width: 60px;
  height: 54px;
}
.thankyou-text {
  text-align: center;
  color: #0f172a;
  font-family: roboto;
  font-size: 24px;
  font-weight: 500;
}
.description {
  text-align: center;
  color: #0f172a;
  font-family: roboto;
  font-size: 16px;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  .feedback-card {
    padding: 32px;
  }
  .emoji {
    width: 70px;
    height: 70px;
  }
  .emoji-name {
    font-size: 12px;
  }
}
@media screen and (min-width: 992px) {
  .feedback-card {
    padding: 64px;
  }
  .feedback-question {
    font-size: 32px;
  }
}
